{% extends 'base.html.twig' %}

{% block title %}ajout accompagnement{% endblock %}

{% block body %}
<h1 class="text-center pt-2 ">
{% if (app.request.attributes.get('_route')=="admin_accompagnement_ajout") %}
  Ajout
{% else %}
  Modification
{% endif %}
d'un accompagnement</h1>

{{form_start(formAccompagnement,{'attr':{'novalidate':'novalidate'}})}}

{{form_row(formAccompagnement.nomAccompagnement)}}
<div class="row">
  <div class="col">{{form_row(formAccompagnement.prixAccompagnement)}}</div>
</div>

{{form_row(formAccompagnement.imageAccompagnement)}}

<div class="row">
  <div class="col"><a href="{{path('admin_accompagnements')}} " class="btn btn-warning btn-block">Annuler</a></div>
  <div class="col"><input type="submit", class="btn btn-success btn-block" value=
  {% if (app.request.attributes.get('_route')=="admin_accompagnement_ajout") %}
  "Ajouter l'accompagnement"
  {% else %}
  "Modifier l'accompagnement"
  {% endif %}></div>
</div>

{{form_end(formAccompagnement)}}
{% endblock %}
