{% extends 'base.html.twig' %}

{% block title %}Liste des accompagnements{% endblock %}

{% block body %}
<h1 class="pt-2 text-center">Liste des accompagnements</h1>
<hr>
<div class="row pt-2">
{% for leAccompagnement in lesAccompagnements %}
    <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4">
        <div class="card mb-3">
        <h3 class="card-header"> <a href=" {{path('ficheAccompagnement', {'id': leAccompagnement.id })}} ">{{leAccompagnement.nomAccompagnement}}</a> </h3>
        <div class="card-body">
            <h5 class="card-title"> 
                <a href=" {{path('ficheMenu', {'id': leAccompagnement.menu.id})}}" class="badge badge-success"> 
                {{leAccompagnement.menu.nomAccompagnement}} 
                </a>
            </h5>
        </div>
        <img class="avatar mx-auto  d-block " style="height: auto; width: 200px; display: block;" src=" {{leAccompagnement.imageAccompagnement}} " alt="Card image">
        
        </div>
    </div>

</div>
{% endblock %}
