{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
<h1 class="text-center pt-2 ">Composition du Menu</h1>      
<hr>
<div class="row pt-2">
{% for leMenu in lesMenus %}
    {% set tpMenus = leMenu.type|length %}
    <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4">
        
        <div class="card mb-3">
        <h3 class="card-header"> {{leMenu.nomMenu}}</h3>
        <div class="row">
            <div class="col-3 d-flex align-items-center mx-auto">
                <img class="avatar mx-auto  d-block " style="height: auto; width: 200px; display: block;" src=" {{asset( leMenu.imageMenu) }} " alt="Card image">
            </div>
            <div class="col">        <div class="card-body">
            <p class="card-text"> {{leMenu.descriptionMenu|raw}}... </p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item"> {% if tpMenus == 1 %} Burger {% else %} Salade{% endif %}</li>
            <li class="list-group-item"> {{leMenu.prixMenu}} €
        </ul>
        </div>
    </div>
    </div>
</div>
</div>
<table class="table table-hover mx-auto">
  <thead>
    <tr>
      <th scope="col-3">Photo</th>
      <th scope="col-4">Nom</th>
      <th scope="col-1">Date</th>
      <th scope="col-3">Styles</th>
      <th scope="col-1">Morceaux</th>
    </tr>
  </thead>
  <tbody>
  {% for leMenu in leMenu.type %}
    <tr>
      <td> <img class="miniature" src="{{leMenu.imageMenu}}" alt=""></td>
      <td scope="row"> {{leMenu.nomMenu}} </td>
      <td></td>
      <td>{{leMenu.type|length}}</td>
    </tr> 
  {% endfor %}
  </tbody>
</table>
{% endfor %}
{% endblock %}
