{% extends 'base.html.twig' %}

{% block title %}Fiche menu{% endblock %}

{% block body %}
<h1 class="text-center pt-2 ">Composition du Menu</h1>      
<hr>
        <div class="card mb-3 border-warning">
        <h3 class="card-header"> {{leMenu.nomMenu}}</h3>
        <div class="row">
            <div class="col-3 d-flex align-items-center mx-auto">
                <img class="avatar mx-auto  d-block " style="height: auto; width: 200px; display: block;" src=" {{asset( leMenu.imageMenu) }} " alt="Card image">
            </div>
            <div class="col">        
            <div class="card-body">
            <p class="card-text"> {{leMenu.descriptionMenu|raw}}</p>
        </div>

        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item"> {{leMenu.type.genretype}}</li>
            <li class="list-group-item"> {{leMenu.prixMenu}} €</li>
        </ul>
        </div>
    </div>

<table class="table mx-auto">
  <thead>
    <tr>
      <th scope="col-3">Choisissez votre boisson</th>
      <th scope="col-3">Choisissez votre accompagnement</th>
      <th scope="col-3">Choisissez votre sauce</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td> <img class="miniature" src={{asset("images/burgers/orange.jpg")}} alt=""> <p> Tropicana Orange </p>
           <hr><img class="miniature" src={{asset("images/burgers/Pomme.jpg")}} alt=""> <p> Tropicana Pomme </p>
           <hr><img class="miniature" src={{asset("images/burgers/pepSi.jpg")}} alt=""> <p> Pepsi </p>
           <hr><img class="miniature" src={{asset("images/burgers/orAngina.jpg")}} alt=""> <p> Orangina </p>
           <hr><img class="miniature" src={{asset("images/burgers/Lipton.jpg")}} alt=""> <p> Ice Tea Peche </p>
           <hr><img class="miniature" src={{asset("images/burgers/oasiss.jpg")}} alt=""> <p> Oasis Tropical </p>
           <hr><img class="miniature" src={{asset("images/burgers/7UP.png")}} alt=""> <p> 7 UP </p>
           <hr><img class="miniature" src={{asset("images/burgers/vitteL.jpg")}} alt=""> <p> Vittel </p>
      </td>
      <td> <img class="miniature" src={{asset("images/burgers/Frite.jpg")}} alt=""> <p> Frite </p>
           <hr><img class="miniature" src={{asset("images/burgers/Potatoes.jpg")}} alt=""> <p> Potatoes </p>
           <hr><img class="miniature" src={{asset("images/burgers/CobettE.png")}} alt=""> <p> Cobette </p>
           <hr><img class="miniature" src={{asset("images/burgers/Salade.jpg")}} alt=""> <p> Salade </p>
      </td>
      <td> <img class="miniature" src={{asset("images/burgers/creamy.jpg")}} alt=""> <p> Sauce Creamy Deluxe </p>
           <hr><img class="miniature" src={{asset("images/burgers/Ketchup.jpg")}} alt=""> <p> Ketchup </p>
           <hr><img class="miniature" src={{asset("images/burgers/mayonnaise.png")}} alt=""> <p> Mayonnaise </p>
           <hr><img class="miniature" src={{asset("images/burgers/SansSauce.jpg")}} alt=""> <p> Sans Sauce </p>
      </td>
    </tr> 
  </tbody>
</table>

{% endblock %}
