{% extends 'base.html.twig' %}

{% block title %}Fiche menu{% endblock %}

{% block body %}
<h1 class="text-center pt-2 ">Composition du Menu</h1>      
<hr>
        <div class="card mb-3 border-warning">
        <h3 class="card-header"> {{leMenu.nomMenu}}</h3>
        <div class="row">
            <div class="col-3 d-flex align-items-center mx-auto">
                <img class="avatar mx-auto  d-block " style="height: auto; width: 200px; display: block;" src=" {{asset( leMenu.imageMenu) }} " alt="Card image">
            </div>
            <div class="col">        
            <div class="card-body">
            <p class="card-text"> {{leMenu.descriptionMenu|raw}}</p>
        </div>

        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item"> {{leMenu.type.genretype}}</li>
            <li class="list-group-item"> {{leMenu.prixMenu}} €</li>
        </ul>
        </div>
    </div>

<table class="table mx-auto">
  <thead>
    <tr>
      <th scope="col-3">Boissons :</th>
      <th scope="col-3">Accompagnements :</th>
      <th scope="col-3">Sauces :</th>
    </tr>
  </thead>
  <tbody>
    <tr>
    {% for leBoisson in leMenu.boissons %}
      <td><img class="miniature" src={{asset(leBoisson.image)}} alt=""> <p> {{leBoisson.nom}} </p> </td>
    {% endfor %}
    </tr>

    <tr>
    {% for leAccompagnement in leMenu.accompagnements %}
      <td><img class="miniature" src={{asset(leAccompagnement.imageAccompagnement)}} alt=""> <p> {{leAccompagnement.nomAccompagnement}} </p> </td>
    {% endfor %}
    </tr>

    <tr>
    {% for leSauce in leMenu.sauces %}
      <td><img class="miniature" src={{asset(leSauce.imageSauce)}} alt=""> <p> {{leSauce.nomSauce}} </p> </td>
    {% endfor %}
    </tr>
  </tbody>
</table>

{% endblock %}
