{% extends 'base.html.twig' %}

{% block title %}Nos Produits{% endblock %}

{% block body %}
<h1 class="pt-2 text-center">Nos Produits</h1>
<hr>
<div class="row pt-2">
{% for leMenu in lesMenus %}

    <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4">
        <div class="card mb-3">
        <h3 class="card-header"> {{leMenu.nomMenu}}</h3>
        <div class="card-body">
            <h5 class="card-title"> {{leMenu.type|length}} type</h5>
            <h6 class="card-subtitle text-muted">Support card subtitle</h6>
        </div>
        <img class="avatar mx-auto  d-block " style="height: auto; width: 200px; display: block;" src=" {{leMenu.imageMenu}} " alt="Card image">
        <div class="card-body">
            <p class="card-text"> {{leMenu.descriptionMenu|slice(0,200)|raw}}... </p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item"> {{leMenu.prixMenu}} €
        </ul>
        
        </div>
    </div>
{% endfor %}

</div>
{% endblock %}
